<form method="post" action="{{ path('app_admin_resource_delete', {'id': resource.id}) }}" class="sn-admin-delete-form js-confirm-delete-form" data-confirm-title="Confirmer la suppression" data-confirm-message="Êtes-vous sûr de vouloir supprimer cette ressource ?">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ resource.id) }}">
    <button class="sn-admin-action sn-admin-action-danger sn-admin-btn-block" type="submit">Supprimer la ressource</button>
</form>
