<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand text-white mb-0 d-flex align-items-center" href="{{ path('app_admin_dashboard') }}">
            <img
                src="{{ asset('argon/img/serinity-logo.png') }}"
                alt="Serinity logo"
                class="serinity-admin-logo mr-2"
            >
            <span>Serinity Admin</span>
        </a>
    </div>
</nav>
