{% extends 'admin/base_admin.html.twig' %}
{% block title %}Edit Influence{% endblock %}

{% block admin_content %}
    <h1>Edit Influence</h1>

    {{ include('admin/influence/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_influence_index') }}">back to list</a>

    {{ include('admin/influence/_delete_form.html.twig') }}
{% endblock %}
