{% extends 'admin/base_admin.html.twig' %}

{% block title %}New influence{% endblock %}

{% block admin_content %}
    <div class="card shadow">
        <div class="card-header border-0">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0">Create new influence</h3>
                </div>
                <div class="col text-right">
                    <a href="{{ path('app_admin_influence_index') }}" class="btn btn-sm btn-outline-primary">
                        Back to list
                    </a>
                </div>
            </div>
        </div>

        <div class="card-body">
            {{ include('admin/influence/_form.html.twig') }}
        </div>
    </div>
{% endblock %}