{% extends 'base.html.twig' %}

{% block title %}New Influence{% endblock %}

{% block body %}
    <h1>Create new Influence</h1>

    {{ include('influence/_form.html.twig') }}

    <a href="{{ path('app_influence_index') }}">back to list</a>
{% endblock %}
